/* line 3, /Users/yamadanaoki/Documents/sandbox/try_free/source/assets/stylesheets/css_length.scss */
img {
  padding: 0;
  margin: auto;
  display: inline-block; }

/* line 8, /Users/yamadanaoki/Documents/sandbox/try_free/source/assets/stylesheets/css_length.scss */
img {
  width: 10vw; }
