.container {
  width: 100%;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -ms-perspective: 800;
  -o-perspective: 800;
  perspective: 800;
  -webkit-perspective-origin: 50% 225px;
  -moz-perspective-origin: 50% 225px;
  -ms-perspective-origin: 50% 225px;
  -o-perspective-origin: 50% 225px;
  perspective-origin: 50% 225px;
}

.content {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.shape-3d {
  height: 200px;
  margin: 0 auto;
  position: relative;
  top: 160px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.panel {
  background: rgba(48, 141, 191, 0.4);
  border: 1px solid white;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fdfdfd;
  font-family: Times, serif;
  font-size: 11em;
  height: 200px;
  position: absolute;
  opacity: .5;
  text-align: center;
  width: 200px;
}

.shape-3d {
  -webkit-animation: spin 12s linear 0s infinite normal none;
  -moz-animation: spin 12s linear 0s infinite normal none;
  -o-animation: spin 12s linear 0s infinite normal none;
  -ms-animation: spin 12s linear 0s infinite normal none;
  animation: spin 12s linear 0s infinite normal none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

/* ---------- cube styles ------------- */
.cube .one {
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
  -moz-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
  -ms-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
  -o-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
  transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
}
.cube .two {
  -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
  -moz-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
  -ms-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
  -o-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
  transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
}
.cube .three {
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
  -moz-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
  -ms-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
  -o-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
  transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
}
.cube .four {
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
  -moz-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
  -ms-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
  -o-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
  transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
}
.cube .five {
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
  -moz-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
  -ms-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
  -o-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
  transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
}
.cube .six {
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
  -moz-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
  -ms-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
  -o-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
  transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
}
.cube .seven {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
  -moz-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
  -ms-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
  -o-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
  transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
}
.cube .eight {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
  -moz-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
  -ms-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
  -o-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
  transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
}
.cube .nine {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
  -moz-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
  -ms-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
  -o-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
  transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
}
.cube .ten {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
  -moz-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
  -ms-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
  -o-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
  transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
}
.cube .eleven {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
  -moz-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
  -ms-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
  -o-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
  transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
}
.cube .twelve {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
  -moz-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
  -ms-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
  -o-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
  transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
}
.cube .wakamsha {
  background: url(../img/myLogo.jpg) no-repeat;
  background-size: 200px 200px;
  color: #666;
  opacity: .8;
}
