ul {
  width: 730px;
  margin: 60px auto;
  padding: 0;
}

li {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  margin: 30px;
  padding: 15px;
  text-align: center;
  width: 150px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.t1 {
  background: #01b0f0;
}
.t1:hover {
  -webkit-transform: translate(400px, 1em);
  -moz-transform: translate(400px, 1em);
  -ms-transform: translate(400px, 1em);
  -o-transform: translate(400px, 1em);
  transform: translate(400px, 1em);
}

.t2 {
  background: #ff3588;
}
.t2:hover {
  -webkit-transform: translate(100px, 400px);
  -moz-transform: translate(100px, 400px);
  -ms-transform: translate(100px, 400px);
  -o-transform: translate(100px, 400px);
  transform: translate(100px, 400px);
}

.t3 {
  background: #aeee00;
}
.t3:hover {
  -webkit-transform: translate(-400px, -100px);
  -moz-transform: translate(-400px, -100px);
  -ms-transform: translate(-400px, -100px);
  -o-transform: translate(-400px, -100px);
  transform: translate(-400px, -100px);
}
