@charset "UTF-8";
@import "compass";
@import "animation";

$CYAN:		#5bdaec;
$OFFWHITE:	#f8f8f3;
$BLUE:		#4b78cb;

.circlemenu-container {
	height: 60px;
	margin: 200px auto;
	position: relative;
	width: 60px;
	&.right {
		margin: 200px;
	}
}

.menu-button {
	background: #000;
	border: 4px solid #fff;
	border-radius: 50%;
	bottom: 0;
	box-shadow: 0 0 24px rgba(58,58,58,.6);
	display: block;
	height: 36px;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	z-index: 9999;
	@include background-image(linear-gradient(#DB3A2B, #CF0404));

	span {
		background: url(../img/cross.png) no-repeat center center;
		display: block;
		height: 36px;
		width: 36px;
		@include transition(.3s ease);
	}
}

.menu-option {
	bottom: 24px;
	left: 3px;
	list-style: none;
	position: absolute;

	li {
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		@include transition(.3s);

		a {
			background-color: #333;
			background-size: #900;
			border: 4px solid #fff;
			border-radius: 50%;
			display: block;
			height: 16px;
			padding: 8px;
			position: relative;
			width: 16px;
			@include transition-duration(.2s);

			span {
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				@include transition(.4s ease);
			}
			&:hover {
				box-shadow: 0 0 18px $CYAN, 0 0 12px $BLUE, inset 0 0 4px $OFFWHITE;
			}
		}
	}
}

/* Icons
---------------------------------------- */
.icon {
	background: url(../img/mimiGlyphs.png) no-repeat;
	background-size: 164px 128px;
	display: block;
	height: 16px;
	width: 16px;

	&.camera { background-position: -32px 0; }
	&.home   { background-position: -80px 0; }
	&.search { background-position: -96px 0; }
	&.music  { background-position: -112px 0; }
	&.copy   { background-position: 0 -16px; }
	&.user   { background-position: -32px -17px; }
	&.picture { background-position: -112px -17px; }
	&.gear    { background-position: -128px -17px; }
	&.cloud   { background-position: -112px -32px; }
	&.smartphone { background-position: -144px -32px; }
	&.game       { background-position: -80px -80px; }
	&.email      { background-position: -96px -80px; }
	&.calendar   { background-position: -144px -96px; }
	&.video      { background-position: -16px -112px; }
	&.facebook   { background-position: -80px -112px; }
	&.twitter    { background-position: -96px -112px; }
}

/* animation
---------------------------------------- */
.active {
	.menu-button {
		span {
			@include rotate(-135deg);
		}
	}
	.menu-option {
		li {
			a {
				@include setAnimation(expand, .7s, ease, 0s, 1, normal, backwards);
			}
		}
	}
}


@include keyframes(expand) {
	0%   { top: 0; }
	50%  { top: -10px; }
	70%  { top: 10px; }
	100% { top: 0; }
}


/* controls
---------------------------------------- */
fieldset {
	border: none;
	margin: 0;
	padding: 10px;
}
legend {
	background: #666;
	border-bottom: 1px solid #AAA;
	border-radius: 0  0 .4em 0;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	color: #fdfdfd;
	margin: 0 -10px 20px;
	padding: 4px 20px 3px;
}
.form-horizontal {
	border: 1px solid #888;
	border-radius: .3em;
	margin: 20px 0;
	.control-group {
		.control-label {
			font-size: .8em;
			float: left;
			padding-top: 3px;
			text-align: right;
			width: 150px;
		}
		.controls {
			margin-left: 170px;
		}
	}
	.form-actions {
		margin: 20px 20px 20px 170px;
	}
}



/* layout
---------------------------------------- */
.left {
	float: left;
}
.right {
	float: right;
}