@import "compass";

$SHADOW_COLOR: #888;

.blog-contents {
	clear: left;
	list-style: none;
	height: 550px;
	margin: 0;
	
	li {
		display: inline;
		float: left;
		@include perspective(500);
		@include transform-style(preserve-3d);
		@include transition(perspective .5s);
		
		&:hover {
			@include perspective(5000);
		}
		
		img {
			border: 10px solid #fcfafa;
			box-shadow: 0 3px 10px $SHADOW_COLOR;
			@include rotateY(30deg);
			@include transition(transform .5s);
		}
		&:hover img {
			@include rotateY(0deg);
		}
	}
}

.blog-info {
	background: #deddcd;
	border: 10px solid #fcfafa;
	box-shadow: 0 20px 40px $SHADOW_COLOR;
	margin: -65px 0 0 45px;
	position: absolute;
	width: 280px;
	@include translateZ(30px);
	@include rotateY(30deg);
	@include transition-property(transform, box-shadow, margin);
	@include transition-duration(.5s);
	
	h3 {
		color: #7a3f3a;
		text-align: center;
		padding-bottom: 15px;
	}
	p {
		padding: 0 10px 15px;
	}
	a {
		background: #7a3f3a;
		border-radius: 17px;
		color: #eee;
		display: block;
		margin: 0 auto 10px;
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		width: 80px;
	}
}
.blog-contents li:hover .blog-info {
	box-shadow: 0 5px 10px $SHADOW_COLOR;
	margin: -45px 0 0 15px;
}
