@import "compass";

$BUTTON_MARGIN: -380px;
$CONTENTS_HEIGHT: 170px;

@mixin parsTransform($perspective: 1000px, $rotateY: 0deg) {
	-webkit-transform: perspective($perspective) rotateY($rotateY);
	-moz-transform: perspective($perspective) rotateY($rotateY);
	-o-transform: perspective($perspective) rotateY($rotateY);
	-ms-transform: perspective($perspective) rotateY($rotateY);
	transform: perspective($perspective) rotateY($rotateY);
}

body {
	background: #666;

}


/*
 * Navigation buttons
 ----------------------------------------*/
.nav {
	li {
		position: absolute;
		a {
			background: #fff;
			display: block;
			height: $CONTENTS_HEIGHT - 20;
			padding-top: 20px;
			width: 55px;
			@include transition(.2s background ease-out);
			&:hover {
				background: #eee;
			}

			span {
				border: 20px solid #000;
				border-color: transparent;
				display: block;
				font-size: 0;
				height: 0;
				line-height: 0%;
				margin: -30px auto 0;
				position: relative;
				top: 50%;
				width: 0;
			}
		}
	}

	.left {
		left: 50%;
		margin-left: $BUTTON_MARGIN;
		a {
			border-right: 1px solid #ddd;
			border-radius: .3em 0 0 .3em;
		}
		span {
			border-right-color: #bbb;
		}
	}
	.right {
		right: 50%;
		margin-right: $BUTTON_MARGIN;
		a {
			border-left: 1px solid #ddd;
			border-radius :0 .3em .3em 0;
		}
		span {
			border-left-color: #bbb;
		}
	}
}

/*
 * image list
 ----------------------------------------*/
.contents {
	background: #fff;
	height: $CONTENTS_HEIGHT;
	margin: 0 auto;
	overflow: hidden;
	width: 650px;

	#right {
		width: 200%;
		@include transition(.7s all ease-out);

	}
	#right:target {
		@include translate(-320px, 0);
	}

	ul {
		margin: 0 0 0 20px;
		padding-top: 40px;

		li {
			display: inline;
			margin: 0 -10px;
			img {
				background: #fff;
				border: 1px solid #ddd;
				height: 70px;
				vertical-align: top;
				width: 70px;
				@include parsTransform(500px, 65deg);
				@include transition(.3s all ease-out);
			-webkit-box-reflect: below 0px -webkit-gradient(
					linear,
					left top,
					left bottom,
					from(rgba(0,0,0,0)),
					color-stop(0.5, rgba(0,0,0,0)),
					color-stop(1, rgba(0,0,0,0.4)),
					to(rgba(0,0,0,1))
				);
			}
			&:hover img {
				background: #666;
				height: 90px;
				margin: 0 40px 0 20px;
				width: 90px;
				@include parsTransform(500px, 0deg);
			}
		}
	}
}
