@import "compass";

li {
	color: #fff;
	height: 72px;
	font-size: 90%;
	margin-bottom: 20px;
	padding: 8px;
	width: 72px;
	@include transition(1.6s);

	&:hover {
		width: 720px;
	}
}
.ease        { background: #000; }
.linear      { background: #333;    @include transition-timing-function(linear); }
.ease-in     { background: #ff358B; @include transition-timing-function(ease-in); }
.ease-out    { background: #01b0f0; @include transition-timing-function(ease-out); }
.ease-in-out { background: #aeee00; @include transition-timing-function(ease-in-out); }

