/* CSS3 */
nav {
	background-image:linear-gradient(0% 22px 90deg, #272c32, #020202);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#020202), to(#272c32));
	background-image:-moz-linear-gradient(0% 22px 90deg, #272c32, #020202);
	background-image:-o-linear-gradient(0% 22px 90deg, #272c32, #020202);
	border-bottom: 4px solid #46aace;
}

	nav ul li a {
		border-left: 1px solid #34373c;
		border-right: 1px solid #222;
		transition: text-shadow 0.5s linear 0;
		-o-transition: text-shadow 0.5s linear 0;
		-moz-transition: text-shadow 0.5s linear 0;
		-webkit-transition: text-shadow 0.5s linear 0;

	}
		nav ul li a:hover {
			text-shadow: 0 0 4px #46aace;
		}

nav#topNav  ul ul {
	background-image:linear-gradient(0% 22px 90deg, #343a42, #272c32);
	background-image:-o-linear-gradient(0% 22px 90deg, #343a42, #272c32);
	background-image:-moz-linear-gradient(0% 22px 90deg, #343a42, #272c32);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#272c32), to(#343a42));
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

}

nav ul ul a {
	padding: 10px;
	border: none;
}

	nav ul ul a:hover {
		background: none;
		border-left: 4px solid #46aace;
		padding-left: 6px;
	}

nav ul a span {
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
}
