---
title: Color palette
js: 18/colorpalette
css: 18/colorpalette
---

.container
	.row
		.col-sm-7
			%canvas#panel{width: 470, height: 290}

		.col-sm-5
			.well.well-smColor
				%h3.page-header Color palette
				%table#color-palette.table.table-striped.table-hover.monospace
					%tbody
