li {
  color: #fff;
  height: 72px;
  font-size: 90%;
  line-height: 72px;
  margin-bottom: 20px;
  padding: 8px;
  width: 72px; }
  li:hover {
    -webkit-animation: expand 1s ease 2s 1 normal none;
    -moz-animation: expand 1s ease 2s 1 normal none;
    -o-animation: expand 1s ease 2s 1 normal none;
    -ms-animation: expand 1s ease 2s 1 normal none;
    animation: expand 1s ease 2s 1 normal none;
    box-shadow: 0 20px 40px #888888; }

.none {
  background: #333; }

.forwards {
  background: #ff358B; }
  .forwards:hover {
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.backwards {
  background: #01b0f0; }
  .backwards:hover {
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    -ms-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }

.both {
  background: #aeee00; }
  .both:hover {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both; }

@-webkit-keyframes expand {
  0% {
    border-radius: 44px; }

  100% {
    width: 720px; } }

@-moz-keyframes expand {
  0% {
    border-radius: 44px; }

  100% {
    width: 720px; } }

@-ms-keyframes expand {
  0% {
    border-radius: 44px; }

  100% {
    width: 720px; } }

@keyframes expand {
  0% {
    border-radius: 44px; }

  100% {
    width: 720px; } }
