div {
  background: #fff;
  box-shadow: 0 20px 40px #888888;
  height: 170px;
  margin: 60px auto;
  padding: 15px;
  width: 170px; }
  div p {
    line-height: 170px;
    margin: 0;
    text-align: center; }
  div:hover {
    -webkit-animation: myAnimation 3s linear 0s 1 normal both;
    -moz-animation: myAnimation 3s linear 0s 1 normal both;
    -o-animation: myAnimation 3s linear 0s 1 normal both;
    -ms-animation: myAnimation 3s linear 0s 1 normal both;
    animation: myAnimation 3s linear 0s 1 normal both; }

@-webkit-keyframes myAnimation {
  0% {
    background-color: #e61374; }

  25% {
    border-radius: 50%; }

  50% {
    background-color: #ccff00;
    border-radius: 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

  100% {
    border-radius: 50%;
    -webkit-transform: scale(100, 0);
    -moz-transform: scale(100, 0);
    -ms-transform: scale(100, 0);
    -o-transform: scale(100, 0);
    transform: scale(100, 0); } }

@-moz-keyframes myAnimation {
  0% {
    background-color: #e61374; }

  25% {
    border-radius: 50%; }

  50% {
    background-color: #ccff00;
    border-radius: 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

  100% {
    border-radius: 50%;
    -webkit-transform: scale(100, 0);
    -moz-transform: scale(100, 0);
    -ms-transform: scale(100, 0);
    -o-transform: scale(100, 0);
    transform: scale(100, 0); } }

@-ms-keyframes myAnimation {
  0% {
    background-color: #e61374; }

  25% {
    border-radius: 50%; }

  50% {
    background-color: #ccff00;
    border-radius: 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

  100% {
    border-radius: 50%;
    -webkit-transform: scale(100, 0);
    -moz-transform: scale(100, 0);
    -ms-transform: scale(100, 0);
    -o-transform: scale(100, 0);
    transform: scale(100, 0); } }

@keyframes myAnimation {
  0% {
    background-color: #e61374; }

  25% {
    border-radius: 50%; }

  50% {
    background-color: #ccff00;
    border-radius: 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

  100% {
    border-radius: 50%;
    -webkit-transform: scale(100, 0);
    -moz-transform: scale(100, 0);
    -ms-transform: scale(100, 0);
    -o-transform: scale(100, 0);
    transform: scale(100, 0); } }
