.toggle-password-visible-wrapper {
	::-ms-reveal {
		display:none !important;
	}
}

.toggle-password-visible-toggle {
	background: url(eyes.svg) no-repeat;
	background-position: 0	32px; 
	color: transparent;
	cursor: pointer;
	overflow: hidden;
	width: 44px;

	&.toggle-password-visible-show {
		background-position: 6px 0; 
	}

	&.toggle-password-visible-hide {
		background-position: 6px -32px;
	}
}
