@media only screen and (max-width: 640px), (max-device-width: 640px) {
  /* line 16, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
  .table-responsive {
    display: block;
    position: relative; }
    /* line 23, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
      display: block; }
    /* line 26, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
    .table-responsive thead {
      float: left; }
      /* line 28, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
      .table-responsive thead tr {
        border: 1px solid #fdfdfd; }
        /* line 31, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
        .table-responsive thead tr th,
        .table-responsive thead tr td {
          border-bottom-color: #e61376;
          border-right-color: #e61376;
          border-bottom-width: 1px;
          line-height: 20px;
          padding: 4px 10px; }
          /* line 37, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
          .table-responsive thead tr th:last-child,
          .table-responsive thead tr td:last-child {
            border-right-color: #e61376; }
    /* line 43, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
    .table-responsive tbody {
      overflow-x: auto;
      position: relative;
      white-space: nowrap;
      width: auto; }
      /* line 48, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
      .table-responsive tbody tr {
        display: inline-block;
        vertical-align: top; }
        /* line 51, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
        .table-responsive tbody tr td {
          line-height: 20px; }
          /* line 53, /Users/wakamsha/Documents/workspace/dev.cm/middleman/source/assets/css/16/responsive4.scss */
          .table-responsive tbody tr td:first-child {
            text-align: right; } }
