
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@mixin setAnimation($name, $duration: 1s, $timing: ease, $delay: 0s, $iterationCount: 1, $direction: normal, $fillMode: none) {
	-webkit-animation: $name $duration $timing $delay $iterationCount $direction $fillMode;
	-moz-animation: $name $duration $timing $delay $iterationCount $direction $fillMode;
	-o-animation: $name $duration $timing $delay $iterationCount $direction $fillMode;
	-ms-animation: $name $duration $timing $delay $iterationCount $direction $fillMode;
	animation: $name $duration $timing $delay $iterationCount $direction $fillMode;
}

@mixin animation-fill-mode($fillMode: none) {
	-webkit-animation-fill-mode: $fillMode;
	-moz-animation-fill-mode: $fillMode;
	-o-animation-fill-mode: $fillMode;
	-ms-animation-fill-mode: $fillMode;
	animation-fill-mode: $fillMode;
}
