@import "compass";
$ODDEND_BLACK: #000;
$ODDEND_GRAY: #333;
$ODDEND_PINK: #ff358b;
$ODDEND_BLUE: #01b0f0;
$ODDEND_GREEN: #aeee00;
$ODDEND_YELLOW: #ebb318;

.polaroid {
	background: #fff;
	border: 1px solid #888;
	border-radius: 4px;
	box-shadow: 0 20px 40px rgba(58,58,58,.6);
	padding: 4px;
	@include box-sizing(border-box);
	@include transition-property(background);
	@include transition-duration(2s);
}

.ui-caption-container {
	display: inline-block;
	margin: 0 auto;
	position: relative;

}
.ui-caption {
	display: block;
	padding: 10px;
	position: absolute;
	@include transition(1s);
}
.controls {
	position: relative;
	width: 40px;
	top: 155px;
	margin: auto;
	width: 312px;
	left: 140px;
}
#target {
	left: -130px;
	position: relative;
	top: -10px;
	width: 130px;
}

.btn {
	cursor: pointer;
	&.black {
		background: $ODDEND_BLACK;
	}
	&.gray {
		background: $ODDEND_GRAY;
	}
	&.pink {
		background: $ODDEND_PINK;
	}
	&.blue {
		background: $ODDEND_BLUE;
	}
	&.green {
		background: $ODDEND_GREEN;
	}
	&.yellow {
		background: $ODDEND_YELLOW;
	}
	&.cielo1 {
		background: #6d3995;
	}
	&.cielo2 {
		background: #9640a9;
	}
	&.cielo3 {
		background: #88a7d3;
	}
	&.cielo4 {
		background: #96d989;
	}
	&.cielo5 {
		background: #ffe8ad;
	}
	&.cielo6 {
		background: #328f5f;
	}
	&.cielo7 {
		background: #BF3F34;
	}
}