@import "compass";

$ODDEND_BLACK: #000;
$ODDEND_GRAY: #333;
$ODDEND_PINK: #ff358b;
$ODDEND_BLUE: #01b0f0;
$ODDEND_GREEN: #aeee00;

$SHADOW_COLOR: #888;

.box {
	border-radius: 50px;
	background: $ODDEND_GRAY;
	box-shadow: 0 20px 40px $SHADOW_COLOR;
	height: 100px;
	margin: 0 auto 10px;
	overflow: hidden;
	width: 100px;
	@include transition(.5s);
	&:hover {
		cursor: pointer;
	}
	p {
		color: #fff;
		text-align: center;
	}
}
.btn {
	.black {
		background: $ODDEND_BLACK;
	}
	.black {
		background: $ODDEND_GRAY;
	}
	.pink {
		background: $ODDEND_PINK;
	}
	.blue {
		background: $ODDEND_BLUE;
	}
	.green {
		background: $ODDEND_GREEN;

	}
}