.taginput {
  overflow: auto;
  padding: 2px 4px;
}
.taginput li {
  float: left;
}
.taginput .taginput-tag {
  margin: 2px 4px 2px 0;
  padding: 2px 32px 2px 8px;
  position: relative;
}
.taginput .taginput-tag .taginput-close {
  background-color: #666666;
  border-radius: 50%;
  color: #fdfdfd;
  font-size: 12px;
  height: 16px;
  right: 8px;
  margin-top: -8px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 16px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.taginput .taginput-tag .taginput-close:hover {
  background-color: #333;
}
.taginput .taginput-label {
  color: #01b0f0;
  font-size: 86%;
  position: relative;
  top: -2px;
}
.taginput .taginput-input input[type="text"] {
  border: none;
  font-size: 14px;
  outline: none;
  padding: 5px;
}
