@charset "UTF-8";
.tableview {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
}
.tableview dl {
  margin: 0;
  min-height: 1px;
  overflow: hidden;
  padding: 24px 0 0;
  position: relative;
}
.tableview dl.animated dt {
  bottom: 0;
  top: auto;
}
.tableview dt {
  bottom: auto;
  min-height: 1px;
  top: 0;
}
.tableview dd {
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 45px;
  margin: 0;
  padding: 0 0 0 12px;
  white-space: nowrap;
}
.tableview dd + dd {
  border-top: 1px solid #ccc;
}

.tableview-wrapper {
  font-family: Helvetica, Arial, sans-serif;
  height: 300px;
  overflow: visible;
  position: relative;
  zoom: 1;
}
.tableview-wrapper .dummy-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  z-index: 1000;
}
.tableview-wrapper .dummy-header.hidden {
  visibility: hidden;
}

.tableview-wrapper .dummy-header,
.tableview dt {
  background: #B8C1C8;
  background: rgba(184, 193, 200, 0.85);
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin-top: 0;
  padding: 2px 0 0 12px;
  position: absolute;
  text-shadow: 0 1px rgba(58, 58, 58, 0.8);
  width: 100%;
}
