@charset "utf-8";

table {
	border-collapse:collapse;
	margin-bottom: 20px;
}
	th,td {
		border: 1px solid #ddd;
		padding: 6px 10px 7px;
	}
	th {
		background: #cf0;
		font-weight: normal;
		text-align: left;
	}

#hoge {
	background: #ccc;
	padding: 20px;
	margin: 20px 0;
}
#foo {
	background: #eff;
	padding: 20px;
	margin: 20px;
}