body {
  background: #666;
}

/*
 * Navigation buttons
 ----------------------------------------*/
.nav li {
  position: absolute;
}
.nav li a {
  background: #fff;
  display: block;
  height: 150px;
  padding-top: 20px;
  width: 55px;
  -webkit-transition: 0.2s background ease-out;
  -moz-transition: 0.2s background ease-out;
  -o-transition: 0.2s background ease-out;
  transition: 0.2s background ease-out;
}
.nav li a:hover {
  background: #eee;
}
.nav li a span {
  border: 20px solid #000;
  border-color: transparent;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0%;
  margin: -30px auto 0;
  position: relative;
  top: 50%;
  width: 0;
}
.nav .left {
  left: 50%;
  margin-left: -380px;
}
.nav .left a {
  border-right: 1px solid #ddd;
  border-radius: .3em 0 0 .3em;
}
.nav .left span {
  border-right-color: #bbb;
}
.nav .right {
  right: 50%;
  margin-right: -380px;
}
.nav .right a {
  border-left: 1px solid #ddd;
  border-radius: 0 .3em .3em 0;
}
.nav .right span {
  border-left-color: #bbb;
}

/*
 * image list
 ----------------------------------------*/
.contents {
  background: #fff;
  height: 170px;
  margin: 0 auto;
  overflow: hidden;
  width: 650px;
}
.contents #right {
  width: 200%;
  -webkit-transition: 0.7s all ease-out;
  -moz-transition: 0.7s all ease-out;
  -o-transition: 0.7s all ease-out;
  transition: 0.7s all ease-out;
}
.contents #right:target {
  -webkit-transform: translate(-320px, 0);
  -moz-transform: translate(-320px, 0);
  -ms-transform: translate(-320px, 0);
  -o-transform: translate(-320px, 0);
  transform: translate(-320px, 0);
}
.contents ul {
  margin: 0 0 0 20px;
  padding-top: 40px;
}
.contents ul li {
  display: inline;
  margin: 0 -10px;
}
.contents ul li img {
  background: #fff;
  border: 1px solid #ddd;
  height: 70px;
  vertical-align: top;
  width: 70px;
  -webkit-transform: perspective(500px) rotateY(65deg);
  -moz-transform: perspective(500px) rotateY(65deg);
  -o-transform: perspective(500px) rotateY(65deg);
  -ms-transform: perspective(500px) rotateY(65deg);
  transform: perspective(500px) rotateY(65deg);
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.4)), to(black));
}
.contents ul li:hover img {
  background: #666;
  height: 90px;
  margin: 0 40px 0 20px;
  width: 90px;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -moz-transform: perspective(500px) rotateY(0deg);
  -o-transform: perspective(500px) rotateY(0deg);
  -ms-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
}
