li {
  color: #fff;
  height: 72px;
  font-size: 90%;
  margin-bottom: 20px;
  padding: 8px;
  width: 72px;
  -webkit-transition: 1.6s;
  -moz-transition: 1.6s;
  -o-transition: 1.6s;
  transition: 1.6s; }
  li:hover {
    width: 720px; }

.ease {
  background: #000; }

.linear {
  background: #333;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear; }

.ease-in {
  background: #ff358B;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.ease-out {
  background: #01b0f0;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.ease-in-out {
  background: #aeee00;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }
