@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .table-responsive,
  tbody,
  th,
  tr,
  tr {
    display: block;
  }

  .table-responsive thead {
    display: none;
  }
  .table-responsive tbody tr + tr {
    margin-top: 20px;
  }
  .table-responsive tbody tr th,
  .table-responsive tbody tr td {
    border: none;
  }
  .table-responsive tbody tr th {
    font-size: 240%;
    line-height: 1em;
  }
  .table-responsive tbody tr td {
    display: list-item;
    list-style-type: square;
    margin-left: 3em;
    padding-left: 0;
    text-align: left;
  }
}
