@media only screen and (max-width: 768px), (max-device-width: 768px) {
  .table-responsive thead tr th:nth-child(7) {
    display: none;
    visibility: hidden;
  }
  .table-responsive tbody tr td:nth-child(7) {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 640px), (max-device-width: 640px) {
  .table-responsive thead tr th:nth-child(3),
  .table-responsive thead tr th:nth-child(5),
  .table-responsive thead tr th:nth-child(7) {
    display: none;
    visibility: hidden;
  }
  .table-responsive tbody tr td:nth-child(3),
  .table-responsive tbody tr td:nth-child(5),
  .table-responsive tbody tr td:nth-child(7) {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 480px), (max-device-width: 480px) {
  .table-responsive thead tr th:nth-child(3),
  .table-responsive thead tr th:nth-child(5),
  .table-responsive thead tr th:nth-child(6),
  .table-responsive thead tr th:nth-child(7) {
    display: none;
    visibility: hidden;
  }
  .table-responsive tbody tr td:nth-child(3),
  .table-responsive tbody tr td:nth-child(5),
  .table-responsive tbody tr td:nth-child(6),
  .table-responsive tbody tr td:nth-child(7) {
    display: none;
    visibility: hidden;
  }
}
