---
title: Local Storage Sample
js:
  - 02/ls
---

%nav.navbar.navbar-default{role: 'navigation'}
	- form_tag '#', class: 'navbar-form' do
		.form-group
			= text_field_tag 'name', id: 'name', class: 'form-control', placeholder: 'name'
		.form-group
			= email_field_tag 'email', id: 'email', class: 'form-control', placeholder: 'E-mail'
		= submit_tag 'Regist', class: 'btn btn-default'
	