@charset "UTF-8";
body {
  background: #eee;
}

h1 {
  color: #aaa;
  font-size: 150%;
  font-weight: normal;
  text-align: center;
}

h2 {
  color: #aaa;
  font-size: 120%;
}

dl {
  font-size: 90%;
}

dt {
  font-weight: bold;
  margin-top: 20px;
}

dd {
  margin-left: 10px;
}

.center {
  margin: auto auto;
  text-align: center;
}

ul {
  list-style: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cccccc), color-stop(50%, #999999), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(left, #cccccc, #999999, #cccccc);
  background-image: -moz-linear-gradient(left, #cccccc, #999999, #cccccc);
  background-image: -ms-linear-gradient(left, #cccccc, #999999, #cccccc);
  background-image: -o-linear-gradient(left, #cccccc, #999999, #cccccc);
  background-image: linear-gradient(left, #cccccc, #999999, #cccccc);
}

.btn {
  border: 1px solid #bbb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #333;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  line-height: 20px;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
}
.btn.btn-large {
  border-radius: 6px;
  font-size: 17.5px;
  padding: 11px 19px;
}
.btn.btn-green {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8fdad), color-stop(100%, #aeee00));
  background-image: -webkit-linear-gradient(#e8fdad, #aeee00);
  background-image: -moz-linear-gradient(#e8fdad, #aeee00);
  background-image: -o-linear-gradient(#e8fdad, #aeee00);
  background-image: linear-gradient(#e8fdad, #aeee00);
}
.btn.btn-green:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeee00), color-stop(100%, #e8fdad));
  background-image: -webkit-linear-gradient(#aeee00, #e8fdad);
  background-image: -moz-linear-gradient(#aeee00, #e8fdad);
  background-image: -o-linear-gradient(#aeee00, #e8fdad);
  background-image: linear-gradient(#aeee00, #e8fdad);
}
.btn.btn-pink {
  color: #eee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fc7fb3), color-stop(100%, #ff358b));
  background-image: -webkit-linear-gradient(#fc7fb3, #ff358b);
  background-image: -moz-linear-gradient(#fc7fb3, #ff358b);
  background-image: -o-linear-gradient(#fc7fb3, #ff358b);
  background-image: linear-gradient(#fc7fb3, #ff358b);
}
.btn.btn-pink:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff358b), color-stop(100%, #fc7fb3));
  background-image: -webkit-linear-gradient(#ff358b, #fc7fb3);
  background-image: -moz-linear-gradient(#ff358b, #fc7fb3);
  background-image: -o-linear-gradient(#ff358b, #fc7fb3);
  background-image: linear-gradient(#ff358b, #fc7fb3);
}
