html {
  background: #01b0f0;
}

body {
  margin: 0;
  text-align: center;
}

.wrapper {
  background: #eee;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  overflow: auto;
  padding: 8px 60px;
  width: 100%;
  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  -o-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.wrapper.hiding {
  -webkit-transform: scale(0) rotate(720deg);
  -moz-transform: scale(0) rotate(720deg);
  -ms-transform: scale(0) rotate(720deg);
  -o-transform: scale(0) rotate(720deg);
  transform: scale(0) rotate(720deg);
}

.thumb {
  border: 1px solid #888;
  border-radius: .4em;
  box-shadow: 0 0 40px rgba(58, 58, 58, 0.6);
  display: block;
  height: auto;
  margin: 60px auto;
  padding: 6px;
  width: 251px;
}
