ul {
  width: 730px;
  margin: 60px auto;
  padding: 0; }

li {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  margin: 30px;
  padding: 15px;
  text-align: center;
  width: 150px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.s1 {
  background: #01b0f0; }
  .s1:hover {
    -webkit-transform: scale(10, 10);
    -moz-transform: scale(10, 10);
    -ms-transform: scale(10, 10);
    -o-transform: scale(10, 10);
    transform: scale(10, 10); }

.s2 {
  background: #ff3588; }
  .s2:hover {
    -webkit-transform: scale(-10, -10);
    -moz-transform: scale(-10, -10);
    -ms-transform: scale(-10, -10);
    -o-transform: scale(-10, -10);
    transform: scale(-10, -10); }

.s3 {
  background: #aeee00; }
  .s3:hover {
    -webkit-transform: scale(10, 0);
    -moz-transform: scale(10, 0);
    -ms-transform: scale(10, 0);
    -o-transform: scale(10, 0);
    transform: scale(10, 0); }
