@import "compass";
@import "animation";

 .container {
  width: 100%;
  @include perspective(800);
  @include perspective-origin(50% 225px);
}
.content {
  width: 100%;
  @include transform-style(preserve-3d);
}

.shape-3d {
  height: 200px;
  margin: 0 auto;
  position: relative;
  top: 160px;
  width: 200px;
  @include transform-style(preserve-3d);
}

.panel {
  background: rgba(48, 141, 191, 0.4);
  border: 1px solid white;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fdfdfd;
  font-family: Times, serif;
  font-size: 11em;
  height: 200px;
  position: absolute;
  opacity: .5;
  text-align: center;
  width: 200px;
}

.shape-3d {
  // -webkit-animation: spin 12s infinite linear;
  @include setAnimation(spin, 12s, linear, 0s, infinite);

}

@include keyframes(spin) {
	0% {
		@include rotateY(0);
	}
	100% {
		@include rotateY(-360deg);
	}
}
// @-webkit-keyframes spin {
//   from { -webkit-transform: rotateY(0); }
//   to   { -webkit-transform: rotateY(-360deg); }
// }

/* ---------- cube styles ------------- */
.cube {
	.one {
		-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
		   -moz-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
		    -ms-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
		     -o-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
		        transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
	}
	.two {
		-webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
		   -moz-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
		    -ms-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
		     -o-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
		        transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
	}
	.three {
		-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
		   -moz-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
		    -ms-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
		     -o-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
		        transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
	}
	.four {
		-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
		   -moz-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
		    -ms-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
		     -o-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
		        transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
	}
	.five {
		-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
		   -moz-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
		    -ms-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
		     -o-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
		        transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
	}
	.six {
		-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
		   -moz-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
		    -ms-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
		     -o-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
		        transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
	}
	.seven {
		-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
		   -moz-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
		    -ms-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
		     -o-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
		        transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
	}
	.eight {
		-webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
		   -moz-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
		    -ms-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
		     -o-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
		        transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
	}
	.nine {
		-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
		   -moz-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
		    -ms-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
		     -o-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
		        transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
	}
	.ten {
		-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
		   -moz-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
		    -ms-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
		     -o-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
		        transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
	}
	.eleven {
		-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
		   -moz-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
		    -ms-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
		     -o-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
		        transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
	}
	.twelve {
		-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
		   -moz-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
		    -ms-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
		     -o-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
		        transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
	}
	.wakamsha {
		background: url(../img/myLogo.jpg) no-repeat;
		background-size: 200px 200px;
		color: #666;
		opacity: .8;
	}
}