@import "compass";
@import "3dbasic";

.square {
	&.thumbnail {
		-webkit-transform: scale(1,1,5) rotateY(45deg);
		   -moz-transform: scale(1,1,5) rotateY(45deg);
		    -ms-transform: scale(1,1,5) rotateY(45deg);
		     -o-transform: scale(1,1,5) rotateY(45deg);
		        transform: scale(1,1,5) rotateY(45deg);
	}
}