---
title: Math
---

.container
	.row
		.col-sm-12
			%ul.nav.nav-stacked.nav-pills
				%li<
					= link_to 'floor.html', 'floor.html'
				%li<
					= link_to 'round.html', 'round.html'
				%li<
					= link_to 'max_min.html', 'max_min.html'
				%li<
					= link_to 'abs.html', 'abs.html'