---
title: Benchmark of Math.max() and Math.min();
js:
  - 19/maxMin
---

.container
	.row
		.col-sm-12
			%h2.page-header Math.max();
			#container-max

			%h2.page-header Math.min();
			#container-min
