%table.table.table-striped.table-responsive
	%thead
		%tr
			%th First Name
			%th Last Name
			%th Age
			%th Total
			%th Discount
			%th Difference
			%th Date
	%tbody
		%tr
			%td Bruce
			%td Almighty
			%td 45
			%td $153.19
			%td 44.7%
			%td +77
			%td Jan 18, 2001 9:12 AM
		%tr
			%td Bruce
			%td Evans
			%td 22
			%td $13.19
			%td 11%
			%td -100.9
			%td Jan 18, 2007 9:12 AM
		%tr
			%td Bruce
			%td Evans
			%td 22
			%td $13.19
			%td 11%
			%td 0
			%td Jan 18, 2007 9:12 AM
		%tr
			%td Clark
			%td Kent
			%td 18
			%td $15.89
			%td 44%
			%td -26
			%td Jan 12, 2003 11:14 AM
		%tr
			%td John
			%td Hood
			%td 33
			%td $19.99
			%td 25%
			%td +12
			%td Dec 10, 2002 5:14 AM
		%tr
			%td Peter
			%td Parker
			%td 28
			%td $9.99
			%td 20.9%
			%td +12.1
			%td Jul 6, 2006 8:14 AM
