@charset "UTF-8";
.circlemenu-container {
  height: 60px;
  margin: 200px auto;
  position: relative;
  width: 60px;
}
.circlemenu-container.right {
  margin: 200px;
}

.menu-button {
  background: #000;
  border: 4px solid #fff;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 0 24px rgba(58, 58, 58, 0.6);
  display: block;
  height: 36px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 9999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #db3a2b), color-stop(100%, #cf0404));
  background-image: -webkit-linear-gradient(#db3a2b, #cf0404);
  background-image: -moz-linear-gradient(#db3a2b, #cf0404);
  background-image: -o-linear-gradient(#db3a2b, #cf0404);
  background-image: linear-gradient(#db3a2b, #cf0404);
}
.menu-button span {
  background: url(../img/cross.png) no-repeat center center;
  display: block;
  height: 36px;
  width: 36px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu-option {
  bottom: 24px;
  left: 3px;
  list-style: none;
  position: absolute;
}
.menu-option li {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu-option li a {
  background-color: #333;
  background-size: #900;
  border: 4px solid #fff;
  border-radius: 50%;
  display: block;
  height: 16px;
  padding: 8px;
  position: relative;
  width: 16px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.menu-option li a span {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.menu-option li a:hover {
  box-shadow: 0 0 18px #5bdaec, 0 0 12px #4b78cb, inset 0 0 4px #f8f8f3;
}

/* Icons
---------------------------------------- */
.icon {
  background: url(../img/mimiGlyphs.png) no-repeat;
  background-size: 164px 128px;
  display: block;
  height: 16px;
  width: 16px;
}
.icon.camera {
  background-position: -32px 0;
}
.icon.home {
  background-position: -80px 0;
}
.icon.search {
  background-position: -96px 0;
}
.icon.music {
  background-position: -112px 0;
}
.icon.copy {
  background-position: 0 -16px;
}
.icon.user {
  background-position: -32px -17px;
}
.icon.picture {
  background-position: -112px -17px;
}
.icon.gear {
  background-position: -128px -17px;
}
.icon.cloud {
  background-position: -112px -32px;
}
.icon.smartphone {
  background-position: -144px -32px;
}
.icon.game {
  background-position: -80px -80px;
}
.icon.email {
  background-position: -96px -80px;
}
.icon.calendar {
  background-position: -144px -96px;
}
.icon.video {
  background-position: -16px -112px;
}
.icon.facebook {
  background-position: -80px -112px;
}
.icon.twitter {
  background-position: -96px -112px;
}

/* animation
---------------------------------------- */
.active .menu-button span {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.active .menu-option li a {
  -webkit-animation: expand 0.7s ease 0s 1 normal backwards;
  -moz-animation: expand 0.7s ease 0s 1 normal backwards;
  -o-animation: expand 0.7s ease 0s 1 normal backwards;
  -ms-animation: expand 0.7s ease 0s 1 normal backwards;
  animation: expand 0.7s ease 0s 1 normal backwards;
}

@-webkit-keyframes expand {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  70% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

@-moz-keyframes expand {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  70% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

@-ms-keyframes expand {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  70% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

@keyframes expand {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  70% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

/* controls
---------------------------------------- */
fieldset {
  border: none;
  margin: 0;
  padding: 10px;
}

legend {
  background: #666;
  border-bottom: 1px solid #AAA;
  border-radius: 0  0 .4em 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  color: #fdfdfd;
  margin: 0 -10px 20px;
  padding: 4px 20px 3px;
}

.form-horizontal {
  border: 1px solid #888;
  border-radius: .3em;
  margin: 20px 0;
}
.form-horizontal .control-group .control-label {
  font-size: .8em;
  float: left;
  padding-top: 3px;
  text-align: right;
  width: 150px;
}
.form-horizontal .control-group .controls {
  margin-left: 170px;
}
.form-horizontal .form-actions {
  margin: 20px 20px 20px 170px;
}

/* layout
---------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}
