---
title: Toggle Password visible
js:
  - 20/jquery.hideShowPassword
  - 20/togglePasswordVisible
---

.container
	.row
		.col-sm-12
			= password_field_tag 'password', id: 'password', class: 'form-control'