---
title: Toggle Password visible
js:
  - 20/modernizr.custom.min
  - 20/jquery.togglePasswordVisible
  - 20/application
css: 20/togglePasswordVisible
---

.container
	.row
		.col-sm-12
			%h3.page-header Demo form
			- form_tag  './', method: 'post', role: 'form' do
				.form-group
					= text_field_tag 'username', class: 'form-control', placeholder: 'Username'
				.form-group
					= password_field_tag 'password', id: 'password', class: 'form-control', placeholder: 'Password'
					%p.help-block アイコンクリックでパスワードの可視切り替え