@CHARSET "UTF-8";

div {
	border: 1px solid #DDD;
	box-shadow: 0 0 8px rgba(32, 32, 32, 0.2);
	margin: 60px auto;
	padding: 10px 40px 20px;
	width: 480px;
}
h1 {
	border-bottom: 6px solid;
	font-size: 1.8em;
	margin-bottom: 6px;
	padding: 0;
	text-align: center;
}
p {
	font-size: 1.2em;
	margin-top: 0;
	text-align: center;
}
ul {
	list-style: none;
	height: 200px;
	padding: 0;
}
li {
	float: left;
}
img {
	border: 2px solid #DDD;
	margin: 0 52px;
}
a {
	border: 20px solid #000;
	border-color: transparent;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0%;
	margin-top: 84px;
	width: 0;
}
#prev { border-right-color: #bbb; }
#next { border-left-color: #bbb; }