@charset "UTF-8";
@import "compass";

body { background: #eee; }
h1 { color: #aaa; font-size: 150%; font-weight: normal; text-align: center; }
h2 { color: #aaa; font-size: 120%; }
dl { font-size: 90%; }
dt { font-weight: bold; margin-top: 20px; }
dd { margin-left: 10px; }

.center {
	margin: auto auto;
	text-align: center;
}

ul { list-style: none; }


hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cccccc), color-stop(50%, #999999), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(left, #cccccc, #999999, #cccccc);
  background-image: -moz-linear-gradient(left, #cccccc, #999999, #cccccc);
  background-image: -ms-linear-gradient(left, #cccccc, #999999, #cccccc);
  background-image: -o-linear-gradient(left, #cccccc, #999999, #cccccc);
  background-image: linear-gradient(left, #cccccc, #999999, #cccccc);
}

.btn {
	border: 1px solid #bbb;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-radius: 4px;
	color: #333;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	display: inline-block;
	line-height: 20px;
	padding: 4px 12px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	@include background-image(linear-gradient(#fff, #e6e6e6));
	&.btn-large {
		border-radius: 6px;
		font-size: 17.5px;
		padding: 11px 19px;
	}
	&.btn-green {
		@include background-image(linear-gradient(#E8FDAD, #aeee00));
		&:hover {
			@include background-image(linear-gradient(#aeee00, #E8FDAD));
		}
	}
	&.btn-pink {
		color: #eee;
		@include background-image(linear-gradient(#FC7FB3, #FF358B));
		&:hover {
			@include background-image(linear-gradient(#FF358B, #FC7FB3));
		}
	}
}