@import "compass";

$SIZE: 150px;
ul {
	width: 730px;
	margin: 60px auto;
	padding: 0;
}
li {
	border-radius:50%;
	color: #fff;
	display: inline-block;
	height: $SIZE;
	line-height: $SIZE;
	margin:30px;
	padding: 15px;
	text-align: center;
	width: $SIZE;
	@include transition(1s);
}

.s1 {
	background: #01b0f0;
	&:hover {
		@include scale(10);
	}
}
.s2 {
	background: #ff3588;
	&:hover {
		@include scale(-10);
	}
}
.s3 {
	background: #aeee00;
	&:hover {
		@include scale(10, 0);
	}
}